.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
  gap: 12px;
}

.button Button {
  padding: 16px 28px;
}
