.gridContainer {
  display: grid;
  margin-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
  gap: 12px;
}

.button Button {
  padding: 16px 28px;
}

@media (max-width: 1536px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1537px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
