.gridContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}
 