.firstModule {
  display: grid;
  gap: 16px;
  color: #111827;
  justify-content: space-between;
}
@media (max-width: 1536px) {
  .firstModule {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1920px) {
  .firstModule {
    grid-template-rows: repeat(2, auto);
  }
}

.word {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photoModule {
  border-radius: 16px;
  text-align: left;
}

.textMain {
  font-size: 38px;
  line-height: 42px;
  font-weight: 900;
  text-align: left;
  vertical-align: middle;
}
@media (max-width: 1536px) {
  .textMain {
    font-size: 32px;
    line-height: 42px;
  }
}

.text {
  font-size: 20px;
  text-align: left;
}

.photoModule__img {
  display: block;
  width: 100%;
}
