.calculator__container {
  margin: 0 70px;
  display: grid;
}

.form__group {
  width: 100%;
  display: flex;
  gap: 30px;
  flex: 1 1;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #111827;
  border-radius: 6px;
  font-size: 16px;
}
