.header {
  color: #111827;
  background-color: #f9fafb;
  width: 100vw;
}

.header__wrapper {
  display: grid;
  gap: 24px;
  padding: 24px 0px;
}

.imageLogo {
  text-align: left;
  width: 50px;
  height: 74px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__topLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4px;
}

.nameCompany {
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  transition: color 0.3s;
}

.nameCompany:hover {
  color: #a78bfa;
}

.header__topContact {
  display: flex;
  gap: 12px;
}

.header__course {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: right;
  border-right: 1px solid #a78bfa;
  padding-right: 20px;
}

.header__contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__contactNumber {
  font-size: 36px;
  line-height: 40px;
  font-weight: 900;
}

.header__contactFree {
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}
