.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 32%;
  margin: 0 auto;
}
.input {
  width: auto;
}
.item {
  grid-column: 1/3;
  grid-row: 3/6;
  width: auto;
}

.items Button {
  width: 100%;
}
.items {
  grid-column: 1/3;
}
