.gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  max-width: 32%;
  margin: 0 auto;
  justify-content: center;
}

.input {
  width: auto;
}
.item {
  grid-column: 1/3;
  grid-row: 3/6;
  width: auto;
}

.items Button {
  width: 100%;
}
.items {
  grid-column: 1/3;
}
